@font-face {
  font-family: "Raleway-Regular";
  src: url("../../assets/fonts/Raleway-Regular.ttf");
}
@font-face {
  font-family: "Raleway-Medium";
  src: url("../../assets/fonts/Raleway-Medium.ttf");
}
@font-face {
  font-family: "Raleway-SemiBold";
  src: url("../../assets/fonts/Raleway-SemiBold.ttf");
}
@font-face {
  font-family: "Raleway-Bold";
  src: url("../../assets/fonts/Raleway-Bold.ttf");
}
@font-face {
  font-family: "Raleway-ExtraBold";
  src: url("../../assets/fonts/Raleway-ExtraBold.ttf");
}
@font-face {
  font-family: "Raleway-Black";
  src: url("../../assets/fonts/Raleway-Black.ttf");
}
/*========== Colors ==========*/
/*========== Font and typography ==========*/
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  line-height: 1.3;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

li {
  list-style: none;
}

button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
/*.fade-in {*/
/*  animation: fade-in 0.3s ease-in-out forwards;*/
/*}*/
@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
/*.fade-out {*/
/*  animation: fade-out 0.3s ease-in-out forwards;*/
/*}*/
/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.flex-direction-column-reverse {
  flex-direction: column-reverse;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row-reverse {
  flex-direction: row-reverse;
}

.flex-direction-row {
  flex-direction: row;
}

.container {
  width: 100%;
  padding: 0 0.9375rem;
  margin: 0 auto;
}
@media screen and (min-width: 36em) {
  .container {
    max-width: 33.75rem;
  }
}
@media screen and (min-width: 48em) {
  .container {
    max-width: 45rem;
  }
}
@media screen and (min-width: 62em) {
  .container {
    max-width: 60rem;
  }
}
@media screen and (min-width: 75em) {
  .container {
    max-width: 72rem;
  }
}

.magic-shadow {
  position: relative;
  background: #fefefe;
}
.magic-shadow::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 4.3125rem;
  background-image: url("../../assets/icons/shadow.svg");
  background-repeat: no-repeat;
  background-position: center;
  bottom: -1.3125rem;
  z-index: -99;
}

.mt-0-25 {
  margin-top: 0.25rem;
}

.mb-0-25 {
  margin-bottom: 0.25rem;
}

.mr-0-25 {
  margin-right: 0.25rem;
}

.ml-0-25 {
  margin-left: 0.25rem;
}

.mx-0-25 {
  margin: 0 0.25rem;
}

.my-0-25 {
  margin: 0.25rem 0;
}

.m-0-25 {
  margin: 0.25rem;
}

.pt-0-25 {
  padding-top: 0.25rem;
}

.pb-0-25 {
  padding-bottom: 0.25rem;
}

.pr-0-25 {
  padding-right: 0.25rem;
}

.pl-0-25 {
  padding-left: 0.25rem;
}

.px-0-25 {
  padding: 0 0.25rem;
}

.py-0-25 {
  padding: 0.25rem 0;
}

.p-0-25 {
  padding: 0.25rem;
}

.mt-0-5 {
  margin-top: 0.5rem;
}

.mb-0-5 {
  margin-bottom: 0.5rem;
}

.mr-0-5 {
  margin-right: 0.5rem;
}

.ml-0-5 {
  margin-left: 0.5rem;
}

.mx-0-5 {
  margin: 0 0.5rem;
}

.my-0-5 {
  margin: 0.5rem 0;
}

.m-0-5 {
  margin: 0.5rem;
}

.pt-0-5 {
  padding-top: 0.5rem;
}

.pb-0-5 {
  padding-bottom: 0.5rem;
}

.pr-0-5 {
  padding-right: 0.5rem;
}

.pl-0-5 {
  padding-left: 0.5rem;
}

.px-0-5 {
  padding: 0 0.5rem;
}

.py-0-5 {
  padding: 0.5rem 0;
}

.p-0-5 {
  padding: 0.5rem;
}

.mt-0-75 {
  margin-top: 0.75rem;
}

.mb-0-75 {
  margin-bottom: 0.75rem;
}

.mr-0-75 {
  margin-right: 0.75rem;
}

.ml-0-75 {
  margin-left: 0.75rem;
}

.mx-0-75 {
  margin: 0 0.75rem;
}

.my-0-75 {
  margin: 0.75rem 0;
}

.m-0-75 {
  margin: 0.75rem;
}

.pt-0-75 {
  padding-top: 0.75rem;
}

.pb-0-75 {
  padding-bottom: 0.75rem;
}

.pr-0-75 {
  padding-right: 0.75rem;
}

.pl-0-75 {
  padding-left: 0.75rem;
}

.px-0-75 {
  padding: 0 0.75rem;
}

.py-0-75 {
  padding: 0.75rem 0;
}

.p-0-75 {
  padding: 0.75rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mx-1 {
  margin: 0 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.m-1 {
  margin: 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pl-1 {
  padding-left: 1rem;
}

.px-1 {
  padding: 0 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.p-1 {
  padding: 1rem;
}

.mt-1-25 {
  margin-top: 1.25rem;
}

.mb-1-25 {
  margin-bottom: 1.25rem;
}

.mr-1-25 {
  margin-right: 1.25rem;
}

.ml-1-25 {
  margin-left: 1.25rem;
}

.mx-1-25 {
  margin: 0 1.25rem;
}

.my-1-25 {
  margin: 1.25rem 0;
}

.m-1-25 {
  margin: 1.25rem;
}

.pt-1-25 {
  padding-top: 1.25rem;
}

.pb-1-25 {
  padding-bottom: 1.25rem;
}

.pr-1-25 {
  padding-right: 1.25rem;
}

.pl-1-25 {
  padding-left: 1.25rem;
}

.px-1-25 {
  padding: 0 1.25rem;
}

.py-1-25 {
  padding: 1.25rem 0;
}

.p-1-25 {
  padding: 1.25rem;
}

.mt-1-5 {
  margin-top: 1.5rem;
}

.mb-1-5 {
  margin-bottom: 1.5rem;
}

.mr-1-5 {
  margin-right: 1.5rem;
}

.ml-1-5 {
  margin-left: 1.5rem;
}

.mx-1-5 {
  margin: 0 1.5rem;
}

.my-1-5 {
  margin: 1.5rem 0;
}

.m-1-5 {
  margin: 1.5rem;
}

.pt-1-5 {
  padding-top: 1.5rem;
}

.pb-1-5 {
  padding-bottom: 1.5rem;
}

.pr-1-5 {
  padding-right: 1.5rem;
}

.pl-1-5 {
  padding-left: 1.5rem;
}

.px-1-5 {
  padding: 0 1.5rem;
}

.py-1-5 {
  padding: 1.5rem 0;
}

.p-1-5 {
  padding: 1.5rem;
}

.mt-1-75 {
  margin-top: 1.75rem;
}

.mb-1-75 {
  margin-bottom: 1.75rem;
}

.mr-1-75 {
  margin-right: 1.75rem;
}

.ml-1-75 {
  margin-left: 1.75rem;
}

.mx-1-75 {
  margin: 0 1.75rem;
}

.my-1-75 {
  margin: 1.75rem 0;
}

.m-1-75 {
  margin: 1.75rem;
}

.pt-1-75 {
  padding-top: 1.75rem;
}

.pb-1-75 {
  padding-bottom: 1.75rem;
}

.pr-1-75 {
  padding-right: 1.75rem;
}

.pl-1-75 {
  padding-left: 1.75rem;
}

.px-1-75 {
  padding: 0 1.75rem;
}

.py-1-75 {
  padding: 1.75rem 0;
}

.p-1-75 {
  padding: 1.75rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mx-2 {
  margin: 0 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.m-2 {
  margin: 2rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pl-2 {
  padding-left: 2rem;
}

.px-2 {
  padding: 0 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.p-2 {
  padding: 2rem;
}

.mt-2-25 {
  margin-top: 2.25rem;
}

.mb-2-25 {
  margin-bottom: 2.25rem;
}

.mr-2-25 {
  margin-right: 2.25rem;
}

.ml-2-25 {
  margin-left: 2.25rem;
}

.mx-2-25 {
  margin: 0 2.25rem;
}

.my-2-25 {
  margin: 2.25rem 0;
}

.m-2-25 {
  margin: 2.25rem;
}

.pt-2-25 {
  padding-top: 2.25rem;
}

.pb-2-25 {
  padding-bottom: 2.25rem;
}

.pr-2-25 {
  padding-right: 2.25rem;
}

.pl-2-25 {
  padding-left: 2.25rem;
}

.px-2-25 {
  padding: 0 2.25rem;
}

.py-2-25 {
  padding: 2.25rem 0;
}

.p-2-25 {
  padding: 2.25rem;
}

.mt-2-5 {
  margin-top: 2.5rem;
}

.mb-2-5 {
  margin-bottom: 2.5rem;
}

.mr-2-5 {
  margin-right: 2.5rem;
}

.ml-2-5 {
  margin-left: 2.5rem;
}

.mx-2-5 {
  margin: 0 2.5rem;
}

.my-2-5 {
  margin: 2.5rem 0;
}

.m-2-5 {
  margin: 2.5rem;
}

.pt-2-5 {
  padding-top: 2.5rem;
}

.pb-2-5 {
  padding-bottom: 2.5rem;
}

.pr-2-5 {
  padding-right: 2.5rem;
}

.pl-2-5 {
  padding-left: 2.5rem;
}

.px-2-5 {
  padding: 0 2.5rem;
}

.py-2-5 {
  padding: 2.5rem 0;
}

.p-2-5 {
  padding: 2.5rem;
}

.mt-2-75 {
  margin-top: 2.75rem;
}

.mb-2-75 {
  margin-bottom: 2.75rem;
}

.mr-2-75 {
  margin-right: 2.75rem;
}

.ml-2-75 {
  margin-left: 2.75rem;
}

.mx-2-75 {
  margin: 0 2.75rem;
}

.my-2-75 {
  margin: 2.75rem 0;
}

.m-2-75 {
  margin: 2.75rem;
}

.pt-2-75 {
  padding-top: 2.75rem;
}

.pb-2-75 {
  padding-bottom: 2.75rem;
}

.pr-2-75 {
  padding-right: 2.75rem;
}

.pl-2-75 {
  padding-left: 2.75rem;
}

.px-2-75 {
  padding: 0 2.75rem;
}

.py-2-75 {
  padding: 2.75rem 0;
}

.p-2-75 {
  padding: 2.75rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mr-3 {
  margin-right: 3rem;
}

.ml-3 {
  margin-left: 3rem;
}

.mx-3 {
  margin: 0 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.m-3 {
  margin: 3rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pl-3 {
  padding-left: 3rem;
}

.px-3 {
  padding: 0 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.p-3 {
  padding: 3rem;
}

.no-scroll {
  overflow: hidden;
}

/**
 * Basic typography style for copy text
 */
/*=============== GOOGLE FONTS ===============*/
body {
  -webkit-font-smoothing: antialiased;
}

/*-------------------
  Header Section
---------------------*/
header .top-bar {
  background: #232b38;
  font-family: "Raleway-SemiBold", sans-serif;
  color: #fefefe;
  padding: 0.75rem 0;
}
header .top-bar a {
  color: #fefefe;
}
header .top-bar__icons a:not(:last-child) {
  padding-right: 0.6rem;
}
header .top-bar__auth > span {
  padding: 0 1rem;
}
header .top-bar__auth img:not(:last-child) {
  padding-right: 0.35rem;
}
header .nav__top {
  padding: 1.5rem 0;
}
header .nav__top--contact img, header .nav__top--time img {
  margin-right: 1rem;
}
header .nav__top--contact h5, header .nav__top--time h5 {
  font-family: "Raleway-Black", sans-serif;
  margin-bottom: 0.25rem;
}
header .nav__top--contact h6, header .nav__top--time h6 {
  font-family: "Raleway-Medium", sans-serif;
  letter-spacing: 0.065rem;
  font-size: 0.75rem;
  color: #6c6c6c;
}
header .nav__menu a {
  color: #232b38;
  font-family: "Raleway-SemiBold", sans-serif;
  padding: 1rem 1.5rem;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}
header .nav__menu a.active, header .nav__menu a:hover {
  background: #eebf00;
  color: #fefefe;
}

/*-------------------
  Hero Section
---------------------*/
.hero {
  height: 75vh;
  background-image: url("../../assets/images/hero.png");
  background-position: center bottom;
  background-repeat: no-repeat;
}
.hero .container {
  position: relative;
}
.hero__content {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translate(0, 60%);
}
.hero__image {
  position: absolute;
  right: 15px;
  top: 0;
  transform: translate(0, 30%);
}
.hero__welcome span {
  font-family: "Raleway-Bold", sans-serif;
  color: #232b38;
}
.hero h1 {
  font-family: "Raleway-ExtraBold", sans-serif;
  color: #232b38;
  font-size: 2.5rem;
  letter-spacing: 0.085rem;
}
.hero h1 span {
  color: #eebf00;
}
.hero p {
  font-family: "Raleway-Medium", sans-serif;
  width: 50%;
  line-height: 1.5;
}

/*-------------------
  Footer Section
---------------------*/
.btn {
  padding: 1rem;
  border-radius: 0.1875rem;
  line-height: 0.8;
  font-size: 1.2rem;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}
.btn-primary {
  background: #eebf00;
  color: #ffffff;
}
.btn-primary:hover {
  background: #ffffff;
  color: #eebf00;
  border: 1px solid #eebf00;
}
.btn-secondary {
  background: #232b38;
  color: #ffffff;
}
.btn-secondary:hover {
  background: #ffffff;
  color: #232b38;
  border: 1px solid #232b38;
}

/*# sourceMappingURL=styles.css.map */
