// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------
@use "sass:map";
@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;
@use "../abstracts/functions" as f;
@use "../abstracts/animations" as *;

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

// Flex helpers class
$align-items: (
  start: flex-start,
  end: flex-end,
  center: center,
);

$justify-content: (
  between: space-between,
  around: space-around,
);

$column-directions: (
  column-reverse: column-reverse,
  column: column,
  row-reverse: row-reverse,
  row: row,
);

// Flex helpers class
.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

@each $key, $value in $align-items {
  .align-items-#{$key} {
    align-items: $value;
  }
}

@each $key, $value in map.merge($align-items, $justify-content) {
  .justify-content-#{$key} {
    justify-content: $value;
  }
}

@each $key, $value in $column-directions {
  .flex-direction-#{$key} {
    flex-direction: $value;
  }
}

// container
.container {
  width: 100%;
  padding: 0 f.pix_to_rem(15);
  margin: 0 auto;

  @include m.media-breakpoint-up(sm) {
    max-width: f.pix_to_rem(540);
  }

  @include m.media-breakpoint-up(md) {
    max-width: f.pix_to_rem(720);
  }

  @include m.media-breakpoint-up(lg) {
    max-width: f.pix_to_rem(960);
  }

  @include m.media-breakpoint-up(xl) {
    max-width: f.pix_to_rem(1152);
  }
}

// magic shadow
.magic-shadow {
  position: relative;
  background: v.$pure;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: f.pix_to_rem(69);
    background-image: url("../../assets/icons/shadow.svg");
    background-repeat: no-repeat;
    background-position: center;
    bottom: f.pix_to_rem(21) * -1;
    z-index: -99;
  }
}

// margin and padding
$spaces: (
  "0-25": 0.25rem,
  "0-5": 0.5rem,
  "0-75": 0.75rem,
  "1": 1rem,
  "1-25": 1.25rem,
  "1-5": 1.5rem,
  "1-75": 1.75rem,
  "2": 2rem,
  "2-25": 2.25rem,
  "2-5": 2.5rem,
  "2-75": 2.75rem,
  "3": 3rem,
);

@each $key, $value in $spaces {
  .mt-#{$key} {
    margin-top: $value;
  }

  .mb-#{$key} {
    margin-bottom: $value;
  }

  .mr-#{$key} {
    margin-right: $value;
  }

  .ml-#{$key} {
    margin-left: $value;
  }

  .mx-#{$key} {
    margin: 0 $value;
  }

  .my-#{$key} {
    margin: $value 0;
  }

  .m-#{$key} {
    margin: $value;
  }

  .pt-#{$key} {
    padding-top: $value;
  }

  .pb-#{$key} {
    padding-bottom: $value;
  }

  .pr-#{$key} {
    padding-right: $value;
  }

  .pl-#{$key} {
    padding-left: $value;
  }

  .px-#{$key} {
    padding: 0 $value;
  }

  .py-#{$key} {
    padding: $value 0;
  }

  .p-#{$key} {
    padding: $value;
  }
}

//// visibility
//.hide-for-mobile {
//  @include m.media-breakpoint-down(md) {
//    display: none;
//  }
//}
//
//.hide-for-desktop {
//  @include m.media-breakpoint-up(lg) {
//    display: none;
//  }
//}
//
//.has-fade {
//  visibility: hidden;
//}
//
//// animation
//.fade-in {
//  animation: fade-in 0.3s ease-in-out forwards;
//}
//
//.fade-out {
//  animation: fade-out 0.3s ease-in-out forwards;
//}
//
.no-scroll {
  overflow: hidden;
}
