@font-face {
  font-family: "Raleway-Regular";
  src: url("../../assets/fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway-Medium";
  src: url("../../assets/fonts/Raleway-Medium.ttf");
}

@font-face {
  font-family: "Raleway-SemiBold";
  src: url("../../assets/fonts/Raleway-SemiBold.ttf");
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("../../assets/fonts/Raleway-Bold.ttf");
}

@font-face {
  font-family: "Raleway-ExtraBold";
  src: url("../../assets/fonts/Raleway-ExtraBold.ttf");
}

@font-face {
  font-family: "Raleway-Black";
  src: url("../../assets/fonts/Raleway-Black.ttf");
}
