@use "sass:map";
@use "../abstracts/variables" as v;
@use "../abstracts/functions" as f;

//// 640px, 1024px, 1400px
//$break-points-up: (
//  "md": "40em",
//  "lg": "64em",
//  "xl": "87.5em",
//);

// 576px, 768px, 992px, 1200px
$break-points-up: (
  "sm": "36em",
  "md": "48em",
  "lg": "62em",
  "xl": "75em",
);

@mixin media-breakpoint-up($value) {
  @media screen and (min-width: map.get($break-points-up, $value)) {
    @content;
  }
}

//@mixin media-breakpoint-down($value) {
//  @media screen and (max-width: map.get($break-points-down, $value)) {
//    @content;
//  }
//}

// transition
@mixin transition($time, $property: "all", $function-type: "ease-in-out") {
  transition: #{$property} #{$time}ms #{$function-type};
  -webkit-transition: #{$property} #{$time}ms #{$function-type};
  -moz-transition: #{$property} #{$time}ms #{$function-type};
  -o-transition: #{$property} #{$time}ms #{$function-type};
}

// flex
@mixin flex-justify-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// magic shadow
@mixin magic-shadow-common {
  position: relative;
  background: v.$pure;
}
@mixin magic-shadow($sm: false) {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: f.pix_to_rem(69);

  @if ($sm) {
    background-image: url("../../assets/icons/shadow-sm.svg");
  } @else {
    background-image: url("../../assets/icons/shadow.svg");
  }

  background-repeat: no-repeat;
  background-position: center;
  bottom: f.pix_to_rem(21) * -1;
  z-index: -99;
}
